

<div class="spinner-container" *ngIf="loading" >
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h2 class="mb-3 mb-md-0 text-primary">liste Commande valider</h2>
      </div>
  
    </div>
    <hr>
  
    <div id="room-creation" class="section" style="margin-top: 5;">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="booking-form">
              <div class="form-header">
                <h6 class="title-centered">liste Commande valider</h6>
              </div>

              <table *ngIf="!loading">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Numéro de Table</th>
                    <th>Total</th>
                    <th>Statut</th>
                    <!-- <th>Action</th> -->
                    <th>Plat</th>
                  </tr>
                </thead>
                <tbody  >
                  <tr *ngFor="let item of data2;let i =index" (click)="nav(item._id)" style="cursor: pointer;"  >
                    <td> {{i +1}} </td>
                    <td> {{item.num}} </td>
                    <td> {{item.total}}Fcfa </td>
                    <td class="status status-valider">Validé</td>
                   
                    <td> {{item.data[0].nom}} </td>
                  </tr>
                 
                </tbody>
              </table>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  
  
  
  






