<div class="container">
  <div class="chart-container">
      <h2>Commandes par Statut</h2>
      <canvas #commandesParStatutCanvas></canvas>
  </div>

  <div class="chart-container">
      <h2>Top 5 des Stock inférieur</h2>
      <canvas #stockParCategorieCanvas></canvas>
  </div>
  <div class="chart-container">
      <h2>Top 5 des Produits les Plus Commandés</h2>
      <canvas #topProduitsCanvas></canvas>
  </div>

  <div class="chart-container">
      <h2>Évolution des Commandes (7 derniers jours)</h2>
      <canvas #evolutionCommandesCanvas></canvas>
  </div>
</div>